In [1]:
import tensorflow as tf

In [2]:
print(tf.__version__)

2.11.0

In [3]:
## importing libraries
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset=pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
#seperating the dataset 
X=dataset.iloc[:,3:13]
y=dataset.iloc[:,13]

In [6]:
X.head(3)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57

In [7]:
y.head(3)

0    1
1    0
2    1
Name: Exited, dtype: int64

In [8]:
pd.get_dummies(X['Geography'],drop_first=True)

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [9]:
geography=pd.get_dummies(X['Geography'],drop_first=True)

In [10]:
gender=pd.get_dummies(X['Gender'],drop_first=True)

In [11]:
gender.head(2)

   Male
0     0
1     0

In [12]:
X=X.drop(['Geography','Gender'],axis=1)

In [13]:
X.head(3)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57

In [14]:
#concatination
X=pd.concat([X,geography,gender],axis=1)

In [15]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
#feature scaling

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [17]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [18]:
X_test

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [19]:
X_train.shape

(8000, 11)

In [20]:
### Now lets creat ANN
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU, ELU, ReLU
from tensorflow.keras.layers import Dropout

In [21]:
# lets initialize the ANN
Classifier=Sequential()

In [22]:
# adding the input layer
Classifier.add(Dense(units=11,activation='relu'))

In [23]:
# adding the first hidden layer
Classifier.add(Dense(units=7,activation='relu'))

In [24]:
# adding the second hidden layer
Classifier.add(Dense(units=6,activation='relu'))

In [25]:
## adding the output layer
Classifier.add(Dense(units=1,activation='sigmoid'))

In [26]:
Classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [27]:
model_history=Classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=50)

Epoch 1/50
536/536 [==============================] - 5s 4ms/step - loss: 0.5135 - accuracy: 0.7934 - val_loss: 0.4674 - val_accuracy: 0.7955
Epoch 2/50
536/536 [==============================] - 2s 3ms/step - loss: 0.4474 - accuracy: 0.7972 - val_loss: 0.4402 - val_accuracy: 0.8008
Epoch 3/50
536/536 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.8132 - val_loss: 0.4175 - val_accuracy: 0.8190
Epoch 4/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3880 - accuracy: 0.8377 - val_loss: 0.3975 - val_accuracy: 0.8300
Epoch 5/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3659 - accuracy: 0.8470 - val_loss: 0.3829 - val_accuracy: 0.8342
Epoch 6/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3550 - accuracy: 0.8545 - val_loss: 0.3763 - val_accuracy: 0.8432
Epoch 7/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3489 - accuracy: 0.8546 - val_loss: 0.3758 - val_accuracy: 0.8448
Epoch 8/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3448 - accuracy: 0.8587 - val_loss: 0.3744 - val_accuracy: 0.8451
Epoch 9/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3418 - accuracy: 0.8580 - val_loss: 0.3754 - val_accuracy: 0.8478
Epoch 10/50
536/536 [==============================] - 2s 4ms/step - loss: 0.3387 - accuracy: 0.8602 - val_loss: 0.3755 - val_accuracy: 0.8466
Epoch 11/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3364 - accuracy: 0.8627 - val_loss: 0.3795 - val_accuracy: 0.8410
Epoch 12/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3349 - accuracy: 0.8628 - val_loss: 0.3732 - val_accuracy: 0.8466
Epoch 13/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3322 - accuracy: 0.8623 - val_loss: 0.3761 - val_accuracy: 0.8436
Epoch 14/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3318 - accuracy: 0.8638 - val_loss: 0.3736 - val_accuracy: 0.8466
Epoch 15/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3305 - accuracy: 0.8655 - val_loss: 0.3744 - val_accuracy: 0.8470
Epoch 16/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3295 - accuracy: 0.8636 - val_loss: 0.3775 - val_accuracy: 0.8432
Epoch 17/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3291 - accuracy: 0.8653 - val_loss: 0.3712 - val_accuracy: 0.8493
Epoch 18/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3273 - accuracy: 0.8658 - val_loss: 0.3769 - val_accuracy: 0.8440
Epoch 19/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3265 - accuracy: 0.8660 - val_loss: 0.3731 - val_accuracy: 0.8455
Epoch 20/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3264 - accuracy: 0.8660 - val_loss: 0.3740 - val_accuracy: 0.8451
Epoch 21/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3250 - accuracy: 0.8645 - val_loss: 0.3770 - val_accuracy: 0.8455
Epoch 22/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3261 - accuracy: 0.8651 - val_loss: 0.3748 - val_accuracy: 0.8448
Epoch 23/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3254 - accuracy: 0.8668 - val_loss: 0.3765 - val_accuracy: 0.8485
Epoch 24/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3240 - accuracy: 0.8651 - val_loss: 0.3739 - val_accuracy: 0.8455
Epoch 25/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3235 - accuracy: 0.8679 - val_loss: 0.3727 - val_accuracy: 0.8485
Epoch 26/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3232 - accuracy: 0.8651 - val_loss: 0.3762 - val_accuracy: 0.8508
Epoch 27/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3228 - accuracy: 0.8662 - val_loss: 0.3705 - val_accuracy: 0.8497
Epoch 28/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3223 - accuracy: 0.8688 - val_loss: 0.3746 - val_accuracy: 0.8455
Epoch 29/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3218 - accuracy: 0.8677 - val_loss: 0.3746 - val_accuracy: 0.8455
Epoch 30/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3220 - accuracy: 0.8698 - val_loss: 0.3745 - val_accuracy: 0.8478
Epoch 31/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3213 - accuracy: 0.8688 - val_loss: 0.3744 - val_accuracy: 0.8478
Epoch 32/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3217 - accuracy: 0.8658 - val_loss: 0.3748 - val_accuracy: 0.8451
Epoch 33/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3202 - accuracy: 0.8679 - val_loss: 0.3737 - val_accuracy: 0.8448
Epoch 34/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3201 - accuracy: 0.8701 - val_loss: 0.3718 - val_accuracy: 0.8485
Epoch 35/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3199 - accuracy: 0.8707 - val_loss: 0.3736 - val_accuracy: 0.8459
Epoch 36/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3198 - accuracy: 0.8707 - val_loss: 0.3722 - val_accuracy: 0.8489
Epoch 37/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3189 - accuracy: 0.8677 - val_loss: 0.3736 - val_accuracy: 0.8463
Epoch 38/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3192 - accuracy: 0.8698 - val_loss: 0.3745 - val_accuracy: 0.8493
Epoch 39/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3184 - accuracy: 0.8686 - val_loss: 0.3707 - val_accuracy: 0.8489
Epoch 40/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3184 - accuracy: 0.8712 - val_loss: 0.3766 - val_accuracy: 0.8459
Epoch 41/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3181 - accuracy: 0.8698 - val_loss: 0.3740 - val_accuracy: 0.8508
Epoch 42/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3181 - accuracy: 0.8698 - val_loss: 0.3731 - val_accuracy: 0.8485
Epoch 43/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3178 - accuracy: 0.8692 - val_loss: 0.3732 - val_accuracy: 0.8501
Epoch 44/50
536/536 [==============================] - 2s 4ms/step - loss: 0.3166 - accuracy: 0.8686 - val_loss: 0.3735 - val_accuracy: 0.8497
Epoch 45/50
536/536 [==============================] - 5s 9ms/step - loss: 0.3170 - accuracy: 0.8712 - val_loss: 0.3734 - val_accuracy: 0.8485
Epoch 46/50
536/536 [==============================] - 3s 5ms/step - loss: 0.3164 - accuracy: 0.8720 - val_loss: 0.3780 - val_accuracy: 0.8466
Epoch 47/50
536/536 [==============================] - 4s 8ms/step - loss: 0.3157 - accuracy: 0.8666 - val_loss: 0.3710 - val_accuracy: 0.8485
Epoch 48/50
536/536 [==============================] - 2s 4ms/step - loss: 0.3168 - accuracy: 0.8699 - val_loss: 0.3725 - val_accuracy: 0.8485
Epoch 49/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3156 - accuracy: 0.8698 - val_loss: 0.3762 - val_accuracy: 0.8459
Epoch 50/50
536/536 [==============================] - 2s 3ms/step - loss: 0.3149 - accuracy: 0.8709 - val_loss: 0.3743 - val_accuracy: 0.8463

In [28]:
model_history.history.keys()

dict_keys(['loss', 'accuracy', 'val_loss', 'val_accuracy'])

In [29]:
## now making the predictions and evaluating the model
y_pred = Classifier.predict(X_test)
y_pred = (y_pred >= 0.5)

63/63 [==============================] - 0s 2ms/step

In [30]:
# making the confusion matrix
from sklearn.metrics import confusion_matrix

In [31]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[1504,   91],
       [ 191,  214]], dtype=int64)

In [32]:

## Calculating the accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [33]:
score

0.859

In [34]:
## to get the weights 
Classifier.get_weights()

[array([[ 4.85841825e-04, -4.98354845e-02, -4.66001868e-01,
          1.10420309e-01,  1.74411923e-01,  9.16618854e-02,
         -1.45270631e-01, -1.64011136e-01, -8.17612410e-02,
          1.45112485e-01,  4.34693433e-02],
        [ 6.28183305e-01,  2.04512164e-01, -6.80104733e-01,
         -1.00024617e+00, -2.66589671e-01, -3.95024747e-01,
         -7.19801366e-01, -1.02726392e-01, -5.40859461e-01,
         -3.92956525e-01, -3.32095593e-01],
        [ 1.52980343e-01,  1.43219084e-01, -1.43335775e-01,
          1.66353017e-01,  2.90806651e-01,  1.78120639e-02,
          2.27387741e-01, -4.17214930e-01, -1.88689500e-01,
         -1.12272434e-01,  6.25858903e-01],
        [-3.75449419e-01, -4.43619750e-02, -3.25570524e-01,
          4.16756235e-02,  1.83438078e-01, -2.42012963e-01,
         -1.12022549e-01, -3.69862080e-01, -8.19686651e-02,
         -1.05667186e+00, -3.02364737e-01],
        [-1.93535425e-02,  1.07423770e+00, -2.71389753e-01,
         -4.92273569e-01, -3.77104372e-01,  2.44448602e-01,
          3.65540624e-01, -8.79820466e-01,  6.17355704e-01,
         -1.35150716e-01, -2.72133648e-01],
        [-4.39332686e-02,  4.88980254e-03,  4.50631022e-01,
         -1.07778840e-01,  3.08655739e-01,  1.83378920e-01,
         -9.32870582e-02, -1.89351812e-02,  2.42542624e-01,
         -2.45178550e-01, -4.03124750e-01],
        [ 9.49570775e-01, -1.03894368e-01, -4.46130596e-02,
         -2.06510991e-01, -5.24469137e-01,  1.57317176e-01,
          2.72360831e-01, -2.82245666e-01,  1.62032068e-01,
         -5.10434285e-02,  3.81348506e-02],
        [-5.61396405e-02, -2.04870120e-01, -5.22561193e-01,
         -2.83921897e-01, -8.89359295e-01,  6.30722791e-02,
          2.63500303e-01,  6.05757952e-01,  3.77898514e-01,
         -5.12686610e-01,  2.15304136e-01],
        [-3.13429564e-01, -1.93878517e-01, -3.24763715e-01,
         -4.09495652e-01, -8.76932368e-02, -7.40007818e-01,
         -2.98905104e-01,  2.59067863e-01,  5.12902975e-01,
          2.01128032e-02, -5.59118278e-02],
        [ 4.62730899e-02,  3.38537186e-01, -2.15250030e-01,
          3.00319400e-02,  5.03542542e-01,  5.88956058e-01,
         -1.61165610e-01,  1.90766558e-01, -3.37393850e-01,
          1.64014414e-01,  3.22689600e-02],
        [ 4.76858288e-01,  1.54730141e-01, -5.15256584e-01,
         -1.42101660e-01, -4.21045780e-01, -9.10649374e-02,
          8.42591763e-01, -1.11785062e-01, -1.76935628e-01,
          6.83647156e-01, -1.59533210e-02]], dtype=float32),
 array([-0.1701542 , -0.06729013, -0.02647945,  0.7651374 ,  0.13989887,
         0.275551  ,  0.5996992 ,  0.15076578,  0.0663531 ,  0.4086801 ,
         0.10703436], dtype=float32),
 array([[-0.26564318, -0.14581345,  0.57870066, -0.8786843 , -0.02192418,
          0.38117275, -0.33885378],
        [ 1.0898988 ,  0.5859307 ,  0.05410709,  0.31933597, -0.7841125 ,
          0.04886002,  0.68795806],
        [-0.57487565, -0.47920075,  0.49376103,  0.30515975,  0.29545328,
         -0.65299386, -0.14343925],
        [-0.10155486,  0.5984166 ,  0.27602828, -0.091714  , -0.764042  ,
         -0.4343455 , -0.18373396],
        [-0.58299935, -0.43592405, -0.1640594 , -0.20806974,  0.23484233,
          0.00644733, -0.7106087 ],
        [-0.15271235, -0.13111018,  0.3711356 , -0.4982679 , -0.16993193,
          0.65313584,  0.28316253],
        [-0.22084574,  0.8348118 ,  0.2880658 , -0.2230696 ,  0.0343722 ,
         -0.18277876, -0.28547144],
        [-0.05909833, -0.20606442, -0.16601598, -0.35887045,  0.23425077,
         -0.20149402, -1.3986043 ],
        [ 0.18911704, -0.07919044,  0.06630976,  0.43204066, -0.7415566 ,
          0.6043936 ,  0.28086385],
        [-0.35140276,  0.84949493, -0.4270536 ,  0.71428686,  0.3627216 ,
          0.23100157,  0.19142991],
        [-0.8090029 ,  0.44913903, -0.08857906, -0.45462677,  0.566284  ,
          0.35768616,  0.17322373]], dtype=float32),
 array([ 0.02680289,  0.18260154,  0.19730376,  0.17184173,  0.3130579 ,
         0.12820409, -0.23186061], dtype=float32),
 array([[-0.00462702,  0.14452186,  1.1900765 , -0.6437051 ,  0.8063336 ,
         -0.23218513],
        [ 0.3470165 , -0.74021214, -0.5163622 ,  0.8236833 , -0.0773579 ,
         -0.12981564],
        [ 0.26805303,  0.51867145, -0.10369013, -0.21722308, -0.2440297 ,
          0.78028506],
        [-0.90942174,  0.32344076,  0.49999496,  0.19796476, -0.4642972 ,
          0.0477968 ],
        [ 0.2085414 , -0.00556649,  0.7528997 , -0.80515164,  0.8966092 ,
         -0.23122014],
        [ 0.23839274,  0.64523774,  0.25651667,  0.6580507 ,  0.23283851,
          0.24023728],
        [ 0.70789313, -0.24622518,  0.6282451 , -0.28362924,  0.9497635 ,
          0.34786332]], dtype=float32),
 array([-0.46482477, -0.04211028,  0.18350895,  0.210826  ,  0.24204567,
         0.1360752 ], dtype=float32),
 array([[ 0.54630315],
        [-1.143352  ],
        [ 0.66805565],
        [-1.0011741 ],
        [ 1.3192188 ],
        [-0.98920494]], dtype=float32),
 array([-0.13219072], dtype=float32)]